# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# My stuff
.DS_Store
.vscode/*
Card_Text/*
Price_Info/*
!Price_Info/blank.txt
!Card_Text/blank.txt
test*
MTGJSON/*
!MTGJSON/README
!MTGJSON/AllPrintingsCSVFiles/blank.txt
failed.txt
__pycache__/*